<div>
<h2>Products</h2>
{{#if products.length}}
    {{#each products}}
    <br>
    <ul>
        <li>{{this.name}}</li>
        <li>{{this.description}}</li>
        <li>{{this.code}}</li>
        <li>{{this.price}}</li>
    </ul>
    {{/each}}
{{else}}
    <p>No products available</p>
{{/if}}
</div>

